.nav-bar {
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  display: inline-flex;
  margin-top: 17px;
}

.nav-bar img {
 padding-left: 20px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
  margin: 50px;
}

.nav-bar ul li a:hover {
  text-decoration: underline;
  color: black;
}

.sub-menu-1 {
  display: none;
}

.nav-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background-color: rgb(235, 235, 235);

}

.nav-bar ul li:hover .sub-menu-1 ul {
  display: block;
  padding-left: 0;

}

.nav-bar ul li:hover .sub-menu-1 ul li {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  text-align: center;
  border-bottom: 1px black solid;
}

.nav-bar ul li:hover .sub-menu-1 li:last-child {
  border-bottom: 0;
}
